@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(263 15% 15%);
  --card: hsl(263 40% 98%);
  --card-foreground: hsl(263 15% 15%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(210 25% 7.8431%);
  --primary: hsl(263 85% 60%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(263 50% 95%);
  --secondary-foreground: hsl(263 15% 15%);
  --muted: hsl(263 30% 94%);
  --muted-foreground: hsl(263 15% 50%);
  --accent: hsl(45 100% 60%);
  --accent-foreground: hsl(263 15% 15%);
  --destructive: hsl(356.3033 90.5579% 54.3137%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(263 20% 88%);
  --input: hsl(263 40% 98%);
  --ring: hsl(263 85% 60%);
  --chart-1: hsl(263 85% 60%);
  --chart-2: hsl(45 100% 60%);
  --chart-3: hsl(263 60% 70%);
  --chart-4: hsl(263 50% 65%);
  --chart-5: hsl(45 80% 65%);
  --sidebar: hsl(263 40% 98%);
  --sidebar-foreground: hsl(263 15% 15%);
  --sidebar-primary: hsl(263 85% 60%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(263 50% 95%);
  --sidebar-accent-foreground: hsl(263 15% 15%);
  --sidebar-border: hsl(263 20% 88%);
  --sidebar-ring: hsl(263 85% 60%);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(0 0% 0%);
  --foreground: hsl(263 6% 91%);
  --card: hsl(263 15% 10%);
  --card-foreground: hsl(263 6% 85%);
  --popover: hsl(0 0% 0%);
  --popover-foreground: hsl(263 6% 91%);
  --primary: hsl(263 80% 70%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(263 15% 15%);
  --secondary-foreground: hsl(263 50% 95%);
  --muted: hsl(263 10% 9%);
  --muted-foreground: hsl(263 15% 46%);
  --accent: hsl(45 90% 65%);
  --accent-foreground: hsl(263 15% 15%);
  --destructive: hsl(356.3033 90.5579% 54.3137%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(210 5.2632% 14.9020%);
  --input: hsl(207.6923 27.6596% 18.4314%);
  --ring: hsl(263 85% 60%);
  --chart-1: hsl(263 85% 60%);
  --chart-2: hsl(45 100% 60%);
  --chart-3: hsl(263 60% 70%);
  --chart-4: hsl(263 50% 65%);
  --chart-5: hsl(45 80% 65%);
  --sidebar: hsl(228 9.8039% 10%);
  --sidebar-foreground: hsl(0 0% 85.0980%);
  --sidebar-primary: hsl(263 85% 60%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(263 15% 15%);
  --sidebar-accent-foreground: hsl(263 80% 70%);
  --sidebar-border: hsl(263 20% 26%);
  --sidebar-ring: hsl(263 85% 60%);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 1px 2px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 2px 4px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 4px 6px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00), 0px 8px 10px -1px hsl(202.8169 89.1213% 53.1373% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(202.8169 89.1213% 53.1373% / 0.00);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}